h4 {
     font-size: 20px;
     text-align: center;
}
}
  
p{
     text-align: center;
}

strong {
     color: hotpink;
}

.imagembateria {
     width: 50%;
}

li {
     font-size: 20px;
}

.imagemviolino {
     width: 50%;
}