 title {
     
 }


 .conteudo {
    font-size: 20px;
    text-align: center;
     display: inline-block;
     width: 90%;
     vertical-align: top;
     margin: 0 5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border-color: #000000;
     border-width: 2px;
     border-style: solid;
     border-radius: 10px;
}

.pink{
   color: hotpink;
   text-align: center;
}

.organizacaoImagem {
     width: 90%;
     display: flex;
     justify-content: space-between;
     margin: 10px auto;
}

.organizacaoImagem img {
     max-width: 600px;
     height: auto;
}

.anotacao {
     font-size: 20px;
     text-align: center;
     display: inline-block;
     width: 40%;
     vertical-align: top;
     margin: 0 30%;
     padding: 30px 20px;
     box-sizing: border-box;
     border-color: #000000;
     border-width: 2px;
     border-style: solid;
     border-radius: 15px;
}